<%- include('templates/cabecera',{tituloPag:'inicio', css:'correas'})%>
<body>
    <%- include('templates/nav')%>

<div class="correas">
  <div class="correa">
    <div class="imagen-con-texto">
      <img src="/img/correas1.jpeg" alt="Correa modelo 1">
      <div class="texto-encima">$130MXN</div>
      <p class="caption">Correa de caucho, diferentes colores, excelente calidad, para relojes de dama</p>
    </div>
  </div>

  <div class="correa">
    <div class="imagen-con-texto">
      <img src="/img/correas2.jpeg" alt="Correa modelo 2">
      <div class="texto-encima">$160MXN</div>
      <p class="caption">Correa de caucho excelente calidad, para relojes de caballero</p>
    </div>
  </div>

    <div class="correa">
    <div class="imagen-con-texto">
      <img src="/img/correas3.jpeg" alt="Correa modelo 2">
      <div class="texto-encima">$450MXN</div>
      <p class="caption">Correas de piel de lizagarto</p>
    </div>
  </div>

    <div class="correa">
    <div class="imagen-con-texto">
      <img src="/img/correas4.jpeg" alt="Correa modelo 2">
      <div class="texto-encima">$280MXN</div>
     <p class="caption">Correas con grabado de piel de ternero</p>
    </div>
  </div>

    <div class="correa">
    <div class="imagen-con-texto">
      <img src="/img/correas5.jpeg" alt="Correa modelo 2">
      <div class="texto-encima">$200MXN</div>
      <p class="caption">Correas lisdas de piel de ternero</p>
    </div>
  </div>
  


</body>