<%- include('templates/cabecera',{tituloPag:'inicio', css:'correas'})%>
<body>
    <%- include('templates/nav')%>

<div class="correas">
  <div class="correa">
    <div class="imagen-con-texto">
      <img src="/img/relventa1.jpeg" alt="Correa modelo 1">
      <div class="texto-encima">$3000MXN</div>
      <p class="caption">Reloj Citizen Eco Drive para caballero, elimina la necesidad de cambiar la batería gracias a su capacidad para trabajar con cualquier fuente de luz, tanto solar como artificial. Ahorro en costos de reemplazo de batería y protección del medio ambiente.</p>
    </div>
  </div>

  <div class="correa">
    <div class="imagen-con-texto">
      <img src="/img/relventa2.jpeg" alt="Correa modelo 2">
      <div class="texto-encima">$1200MXN</div>
      <p class="caption">Reloj Swatch de caballero, suizo con cronógrafo</p>
    </div>
  </div>

    <div class="correa">
    <div class="imagen-con-texto">
      <img src="/img/relventa3.jpeg" alt="Correa modelo 2">
      <div class="texto-encima">$2500MXN</div>
      <p class="caption">Reloj elegante de boutique Calvin Klein de caballero</p>
    </div>
  </div>

    <div class="correa">
    <div class="imagen-con-texto">
      <img src="/img/relventa4.jpeg"alt="Correa modelo 2">
      <div class="texto-encima">$1200MXN</div>
     <p class="caption">Reloj automático Orient de caballero</p>
    </div>
  </div>

    <div class="correa">
    <div class="imagen-con-texto">
      <img src="/img/relventa5.jpeg" alt="Correa modelo 2">
      <div class="texto-encima">$3500MXN</div>
      <p class="caption">Reloj Mido de dama, maquinaria suiza, correa de piel</p>
    </div>
  </div>

   <div class="correa">
    <div class="imagen-con-texto">
      <img src="/img/relventa6.jpeg" alt="Correa modelo 2">
      <div class="texto-encima">$1400MXN</div>
      <p class="caption">Reloj japonés, cuarzo cronógrafo</p>
    </div>
  </div>

   <div class="correa">
    <div class="imagen-con-texto">
      <img src="/img/relventa7.jpeg" alt="Correa modelo 2">
      <div class="texto-encima">$1800MXN</div>
      <p class="caption">Reloj Tissot automático para caballero</p>
    </div>
  </div>
  


</body>